DISCORD_TOKEN=YOUR_CHAT_BOT_TOKEN_HERE
DISCORD_CLIENT_ID=YOUR_CHAT_BOT_CLIENT_ID_HERE
PREFIX=!
NODE_VERSION=22.12.0
TTS_CACHE_ITEMS=100
TTS_COOLDOWN_MS=120000
TTS_HOSTS=https://translate.google.com,https://translate.google.com.vn
TTS_SPEED=1.2
